</br>
<h3><b>Filtros</b></h3>
</br>
<div class="row2">
    <div class="col-md-6 filter">
      <span ><b>Ano Inicial</b></span>
	  <div id="div_ano_inicial"></div>
	</div>  
				  
	<div class="col-md-6 filter">
	   <span><b>Ano Final</b></span>
	    <div id="div_ano_final"></div>
	</div>
</div>

<div class="row2">
	<div class="col-md-6 filter">   
	  <span ><b>Mês Inicial</b></span>
	  <div  id="div_mes_inicial"></div>
	</div>  
	<div class="col-md-6 filter">   
		 <span ><b>Mês Final</b></span>
		 <div id="div_mes_final"></div>
	</div> 

</div>

<div class="row2">
	<div class="col-md-6 filter">   
		 <span ><b>Supermercados</b></span>
		 <div  id="div_supermercado"></div>
	</div>
	<div class="col-md-6 filter">   
		  <span ><b>Grupos</b></span>
		 <div  id="div_grupo"></div>
	</div>
</div>

<div class="row2">
	<div class="col-md-6 filter">   
		  <span ><b>SubGrupos</b></span>
		 <div  id="div_subgrupo"></div>
	</div>
	<div class="col-md-6 filter">   
		  <span ><b>Marcas</b></span>
		  <div  id="div_marca"></div>
	</div>
</div>

<div class="row2">
	<div class="col-md-12 col_but">   
		  <div  id="div_aplicar_filtro"></div>
	</div>
	
</div>


 