
        		<div class="col-sm-4">
					<div class="well-fat">
						<p  class="label_fat">Faturamento</p>
						<div class="row kpis">
							<div class="col-md-6 moeda">
								<p class="val_fat"> R$</p>
							</div>
							<div class="col-md-6">		
								<div  class="val_fat" id="div_faturamento2"></div>
							</div>	
						</div>	
					</div>
				</div>
				<div class="col-sm-4">
					<div class="well-lucro">
						<p class="label_lucro">Lucratividade</p>
						<div class="row kpis">
							
							<div class="col-md-6 moeda">
								<p class="val_lucro"> R$</p>
							</div>
							<div class="col-md-6">		
								<div  class="val_lucro" id="div_lucro"></div>
							</div>	
						</div>
						
						
						
					</div>
				</div>
				<div class="col-sm-4">
					<div class="well-ticket">
						
						<p class="label_ticket">Ticket Médio</p>
						<div class="row kpis">
							<div class="col-md-6 moeda">
								<p class="val_ticket "> R$</p>
							</div>
							<div class="col-md-6">		
								<div  class="val_ticket" id="div_ticket"></div>
							</div>	
						</div>
					</div>
				</div>
		
			
		 